<div class="about-container">
  <div class="about-content">
    <h1>About Me</h1>
    <div class="about-image">
      <img src="assets/IMG_20240916_132745.jpg" alt="Ankita Khedekar" />
    </div>
    <p>
      <strong>
        Hi, I’m Ankita Khedekar, a dedicated software developer, web developer, full-stack developer, and UI/UX designer.
        With extensive knowledge of Angular, Node.js, and MongoDB, I have contributed to various projects, working on both 
        the front-end and back-end to build comprehensive and engaging web applications.
      </strong>
    </p>
    <p>
      <strong>
        I specialize in designing intuitive user experiences and developing seamless, responsive interfaces. I am passionate 
        about bridging the gap between design and functionality, ensuring that my work is both aesthetically pleasing and technically sound.
        Continuously learning and evolving with the latest technologies, I strive to deliver innovative and efficient solutions.
      </strong>
    </p>
  </div>
</div>
