.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center the text */
  padding: 50px;
}

.about-content {
  font-weight: bold; /* Make the text bold */
}

.about-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.about-image img {
  max-width: 30%;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}
